<li class="c-home-banner-menu__item o-grid-cell u-mh-md o-box--inset-sm u-fill-height">
  <a
    href="#installation"
    class="c-home-banner-menu__item-content g-link-reset o-grid o-grid--fill o-grid--align-middle u-relative"
    onclick={{action 'itemClicked' '#installation'}}
    onkeydown={{action 'itemKeyDown' '#installation'}}
  >
    <span class="c-home-banner-menu__item-icon-container o-grid-cell o-grid o-grid--fill o-grid--align-middle">
      {{svg-icon class="c-home-banner-menu__item-icon o-grid-cell u-mb-sm" fileName="icon-install-arrows" stroke="currentColor" width="100%" height="100%"}}
      <span class="c-home-banner-menu__item-title o-grid-cell">
        Installation
      </span>
    </span>
  </a>
</li>

<li class="c-home-banner-menu__item o-grid-cell u-mh-md o-box--inset-sm u-fill-height">
  <a
    href="#keyboard-support"
    class="c-home-banner-menu__item-content g-link-reset o-grid o-grid--align-middle o-grid--fill u-relative"
    onclick={{action 'itemClicked' '#keyboard-support'}}
    onkeydown={{action 'itemKeyDown' '#keyboard-support'}}
  >

    <span class="c-home-banner-menu__item-icon-container o-grid-cell o-grid o-grid--fill o-grid--align-middle">
      {{svg-icon class="c-home-banner-menu__item-icon o-grid-cell u-mb-sm" fileName="icon-keyboard" fill="currentColor" width="100%" height="100%"}}
      <span class="c-home-banner-menu__item-title o-grid-cell">
        Keyboard Support
      </span>
    </span>
  </a>
</li>

<li class="c-home-banner-menu__item o-grid-cell u-mh-md o-box--inset-sm u-fill-height">
  <a
    href="#usage"
    class="c-home-banner-menu__item-content g-link-reset o-grid o-grid--align-middle o-grid--fill u-relative"
    onclick={{action 'itemClicked' '#usage'}}
    onkeydown={{action 'itemKeyDown' '#usage'}}
  >
    <span class="c-home-banner-menu__item-icon-container o-grid-cell o-grid o-grid--fill o-grid--align-middle">
      {{svg-icon class="c-home-banner-menu__item-icon o-grid-cell u-mb-sm" fileName="icon-accordion-wireframe" stroke="currentColor" width="100%" height="100%"}}
      <span class="c-home-banner-menu__item-title o-grid-cell">
        Usage Patterns
      </span>
    </span>
  </a>
</li>

<li class="c-home-banner-menu__item o-grid-cell u-mh-md o-box--inset-sm u-fill-height">
  <a
    href="#styling"
    class="c-home-banner-menu__item-content g-link-reset o-grid o-grid--align-middle o-grid--fill u-relative"
    onclick={{action 'itemClicked' '#styling'}}
    onkeydown={{action 'itemKeyDown' '#styling'}}
  >
    <span class="c-home-banner-menu__item-icon-container o-grid-cell o-grid o-grid--fill o-grid--align-middle">
      {{svg-icon class="c-home-banner-menu__item-icon o-grid-cell u-mb-sm" fileName="icon-brush" fill="currentColor" width="100%" height="100%"}}
      <span class="c-home-banner-menu__item-title o-grid-cell">
        Styling Tips
      </span>
    </span>
  </a>
</li>