<li class="c-home-banner-menu__item o-grid-cell o-grid o-grid--align-center o-grid--align-middle o-box--inset-sm">
  <a
    href="#installation"
    class="c-home-banner-menu__item-circle g-link-reset o-grid-cell o-grid o-grid--align-middle o-grid--align-center"
    onclick={{action 'itemClicked' '#installation'}}
    onkeydown={{action 'itemKeyDown' '#installation'}}
  >
    {{svg-icon class="c-home-banner-menu__item-icon o-grid-cell" fileName="icon-install-arrows" stroke="currentColor" width="100%" height="100%"}}
  </a>
  <span class="c-home-banner-menu__item-title o-grid-cell g-font-inheret g-font-bold u-mt-md">
    Installation
  </span>
</li>

<li class="c-home-banner-menu__item o-grid-cell o-grid o-grid--align-middle o-grid--align-center o-box--inset-sm">
  <a
    href="#keyboard-support"
    class="c-home-banner-menu__item-circle g-link-reset o-grid-cell o-grid o-grid--align-middle o-grid--align-center"
    onclick={{action 'itemClicked' '#keyboard-support'}}
    onkeydown={{action 'itemKeyDown' '#keyboard-support'}}
  >
    {{svg-icon class="c-home-banner-menu__item-icon o-grid-cell" fileName="icon-keyboard" fill="currentColor" width="100%" height="100%"}}
  </a>
  <span class="c-home-banner-menu__item-title o-grid-cell g-font-inheret g-font-bold u-mt-md">
    Keyboard Support
  </span>
</li>

<li class="c-home-banner-menu__item o-grid-cell o-grid o-grid--align-middle o-grid--align-center o-box--inset-sm">
  <a
    href="#usage"
    class="c-home-banner-menu__item-circle g-link-reset o-grid-cell o-grid o-grid--align-middle o-grid--align-center"
    onclick={{action 'itemClicked' '#usage'}}
    onkeydown={{action 'itemKeyDown' '#usage'}}
  >
    {{svg-icon class="c-home-banner-menu__item-icon o-grid-cell" fileName="icon-accordion-wireframe" stroke="currentColor" width="100%" height="100%"}}
  </a>
  <span class="c-home-banner-menu__item-title o-grid-cell g-font-inheret g-font-bold u-mt-md">
    Usage Patterns
  </span>
</li>

<li class="c-home-banner-menu__item o-grid-cell o-grid o-grid--align-middle o-grid--align-center o-box--inset-sm">
  <a
    href="#styling"
    class="c-home-banner-menu__item-circle g-link-reset o-grid-cell o-grid o-grid--align-middle o-grid--align-center"
    onclick={{action 'itemClicked' '#styling'}}
    onkeydown={{action 'itemKeyDown' '#styling'}}
  >
    {{svg-icon class="c-home-banner-menu__item-icon o-grid-cell" fileName="icon-brush" fill="currentColor" width="100%" height="100%"}}
  </a>
  <span class="c-home-banner-menu__item-title o-grid-cell g-font-inheret g-font-bold u-mt-md">
    Styling Tips
  </span>
</li>