<section class="p-index u-fill-width u-fill-height u-overflow-hide u-overflow-auto-y">

  <section>
    <h1 class="o-content-box">Ember Ticketfly Accordion</h1>
  </section>


  <section class="u-width-80 u-m-auto u-mt4">
    <h2>Installation</h2>
    <pre>
      ember install ticketfly-ember-accordion
    </pre>

    <h2>Example Usage</h2>

    <section>
      <h4>Standard Accordion</h4>

      {{#tf-accordion class="p-index__standard-accordion c-accordion" as |accordion|}}

        {{accordion.panel
          class="c-accordion__panel"
          tabClassName="c-accordion__panel-tab"
          bodyClassName="c-accordion__panel-body"
          tabTitle=model.ironMan.synopsis.title
          bodyContent=model.ironMan.synopsis.content
        }}

        {{#accordion.panel class="c-accordion__panel" as |panel|}}
          {{panel.tab class="c-accordion__panel-tab" title=model.ironMan.stats.title}}
          {{#panel.body class="c-accordion__panel-body g-list-reset" tagName="ul"}}
            <li><span class="g-embolden">Release Date:</span> <span>{{model.ironMan.stats.releaseDate}}</span></li>
            <li><span class="g-embolden">Director:</span> <span>{{model.ironMan.stats.content.director}}</span></li>
            <li><span class="g-embolden">Runtime:</span> <span>{{model.ironMan.stats.content.runtime}}</span></li>
            <li><span class="g-embolden">Box Office:</span> <span>{{model.ironMan.stats.content.boxOffice}}</span></li>
            <li><span class="g-embolden">Budget:</span> <span>{{model.ironMan.stats.content.budget}}</span></li>
          {{/panel.body}}
        {{/accordion.panel}}

        {{#accordion.panel class="c-accordion__panel" isExpanded=true as |panel|}}
          {{panel.tab class="c-accordion__panel-tab" title=model.ironMan.cast.title}}
          {{#panel.body class="c-accordion__panel-body g-list-reset" tagName="ul"}}
            {{#each model.ironMan.cast.content as |castMember|}}
              <li>{{castMember}}</li>
            {{/each}}
          {{/panel.body}}
        {{/accordion.panel}}

        {{#accordion.panel class="c-accordion__panel" isExpanded=true as |panel|}}
          {{panel.tab class="c-accordion__panel-tab" title=model.ironMan.similarTitles.title}}
          {{#panel.body class="c-accordion__panel-body g-list-reset" tagName="ul"}}
            {{#each model.ironMan.similarTitles.content as |similarTitle|}}
              <li>{{similarTitle}}</li>
            {{/each}}
          {{/panel.body}}
        {{/accordion.panel}}

      {{/tf-accordion}}

      <h4>Multi-Expand Accordion</h4>

      {{#tf-accordion class="p-index__multi-expand-accrodion c-accordion" multiExpand=true as |accordion|}}
                {{accordion.panel
          class="c-accordion__panel"
          tabClassName="c-accordion__panel-tab"
          bodyClassName="c-accordion__panel-body"
          tabTitle=model.ironMan.synopsis.title
          bodyContent=model.ironMan.synopsis.content
        }}

        {{#accordion.panel class="c-accordion__panel" as |panel|}}
          {{panel.tab class="c-accordion__panel-tab" title=model.guardians.stats.title}}
          {{#panel.body class="c-accordion__panel-body g-list-reset" tagName="ul"}}
            <li><span class="g-embolden">Release Date:</span> <span>{{model.guardians.stats.releaseDate}}</span></li>
            <li><span class="g-embolden">Director:</span> <span>{{model.guardians.stats.content.director}}</span></li>
            <li><span class="g-embolden">Runtime:</span> <span>{{model.guardians.stats.content.runtime}}</span></li>
            <li><span class="g-embolden">Box Office:</span> <span>{{model.guardians.stats.content.boxOffice}}</span></li>
            <li><span class="g-embolden">Budget:</span> <span>{{model.guardians.stats.content.budget}}</span></li>
          {{/panel.body}}
        {{/accordion.panel}}

        {{#accordion.panel class="c-accordion__panel" isExpanded=true as |panel|}}
          {{panel.tab class="c-accordion__panel-tab" title=model.guardians.cast.title}}
          {{#panel.body class="c-accordion__panel-body g-list-reset" tagName="ul"}}
            {{#each model.guardians.cast.content as |castMember|}}
              <li>{{castMember}}</li>
            {{/each}}
          {{/panel.body}}
        {{/accordion.panel}}

        {{#accordion.panel class="c-accordion__panel" isExpanded=true as |panel|}}
          {{panel.tab class="c-accordion__panel-tab" title=model.guardians.similarTitles.title}}
          {{#panel.body class="c-accordion__panel-body g-list-reset" tagName="ul"}}
            {{#each model.guardians.similarTitles.content as |similarTitle|}}
              <li>{{similarTitle}}</li>
            {{/each}}
          {{/panel.body}}
        {{/accordion.panel}}

      {{/tf-accordion}}
    </section>

    {{!-- TODO: Implement accordion that can work as a menu list
    <section>
      <h4>Navigaton Menu</h4>
      <nav>

      </nav>
    </section>
    --}}

  </section>

</section>
