<section class="p-index u-fill-width u-fill-height u-overflow-hide u-overflow-auto-y">

  <section>
    <h1 class="o-content-box">Ember Ticketfly Accordion</h1>
  </section>


  <section class="u-width-80 u-m-auto u-mt4">
    <h2>Installation</h2>
    <pre>
      ember install ticketfly-ember-accordion
    </pre>

    <h2>Example Usage</h2>

    <h4>Tabbed Details View</h4>

    {{#tf-accordion as |accordion|}}
      
      {{accordion.panel tabTitle=model.overview.title panelContent=model.overview.conent}}

      {{#accordion.panel as |panel|}}
        {{panel.toggleHeader title=model.media.title}}
        {{#panel.body}}
          <h3>Trailers</h3>
          <h3>Screenshots</h3>
        {{/panel.body}}
      {{/accordion.panel}}

      {{accordion.panel tabTitle=model.storyline.title panelContent=model.storyline.conent}}
      {{accordion.panel tabTitle=model.production.title panelContent=model.production.conent}}

      {{#accordion.panel as |panel|}}
        {{panel.toggleHeader title=model.similarTitles.title}}
        {{#panel.body tagName="ul"}}
          <li>Gears of War 4</li>
          <li>Assassin's Creed: Syndicate</li>
        {{/panel.body}}
      {{/accordion.panel}}

    {{/tf-accordion}}

    <h4>Navigaton Menu</h4>
    <nav>
      <ul>
        <li>About</li>

        {{#tf-accordion tagName="li" as |accordion|}}
          {{#accordion.panel as |panel|}}
            {{panel.toggleHeader title="Media"}}

            {{#panel.body tagName="ul"}}
              <li>Videos</li>
              <li>Music</li>
              <li>Photos</li>
            {{/panel.body}}
          {{/accordion.panel}}
        {{/tf-accordion}}

      </ul>
    </nav>
  </section>

</section>
